<nav class="text-white bg-gray-900 p-4">
  <div class="flex justify-between items-center">
    <ul class="flex space-x-4">
      <li><a routerLink="/inicio" class="block py-2 px-4 rounded hover:bg-gray-700">Inicio</a></li>
      <li><a routerLink="/medico" class="block py-2 px-4 rounded hover:bg-gray-700">Crear un medico</a></li>      
      <li><a routerLink="/medicos" class="block py-2 px-4 rounded hover:bg-gray-700">Listar</a></li>
    </ul>
    
  
  </div>
</nav>

<router-outlet></router-outlet>
